{% extends "layout.html" %}
{% block content %}
<head>
  <link href= "../static/css/styleTable.css" rel="stylesheet">
</head>
<!-- partial:index.partial.html -->
<br>
<h11>
  <center> My Items </center>
</h11>
<br>
<main>
  <table>
    <thead>
      <tr>
        <th style="padding-left: 20px">
          Food Item
        </th>
        <th style="padding-left: 30px">
          Expiration Date
        </th>
        <th style="padding-left: 35px">Remove</th>
      </tr>
    </thead>
    <tbody id="table"></tbody>
    <tfoot>
      <tr>
        <th colspan='3'>
          <a class="button" href="/add"> Add item </a>
        </th>
      </tr>
    </tfoot>
  </table>
  </div>
</main>
<!-- partial -->
<script text="type/javascript"> 
    //Variables
    const table = document.getElementById('table');
    const data = {{ data|safe }}

    //Create Table HTML
    htmlArray = []
    for (i = 0; i < data.length; i++) {
      currentData = data[i];

      //Get Date
      let dateArray = currentData[1].replace(" 00:00:00", "").split("-")
      console.log(dateArray)
      let currentDate = new Date()
      let expirationDate = new Date(dateArray[0], dateArray[1]-1, dateArray[2])
      let days_till_expiration = (expirationDate.getTime()-currentDate.getTime())/(1000*60*60*24)

      //Get Message
      let message = "";
      if (days_till_expiration <= 0) message = "Expired";
      else if (days_till_expiration >= 1 && days_till_expiration < 2) message = "Expires today";
      else if (days_till_expiration >= 2 && days_till_expiration < 30) message = "Expires in " + Math.ceil(days_till_expiration) + " days";
      else if (days_till_expiration >= 31 && days_till_expiration < 364) message = "Expires in more than a month";
      else if (days_till_expiration >= 365) message = "Expires in more than a year";


      html = "";
      html += `<tr >`;
      html += `<td style="padding-left: 20px">${currentData[2]}</td>`;
      html += `<td style="padding-left: 30px">${message}</td>`;
      html += `<td style="padding-left: 35px"><a class='button' id='${currentData[2]}' href='' onclick='deleteFood("${currentData[2]}")'>Remove</a></td>`;
      html += `</tr>`;

      htmlArray.push([html, days_till_expiration]);
    }

    //Sort by date
    htmlArray.sort(function(a, b) {
      return a[1] - b[1];
    });
    console.log(htmlArray)

    //Add to html
    for (i = 0; i < data.length; i++) {
      table.innerHTML += htmlArray[i][0];  
    }

    //Delete Request
    function deleteFood(name){
      c_url = window.location.href+"/delete/"+name
      fetch(c_url, {
          method: "DELETE",
          headers: {
              'Content-type': 'application/json'
          }
      })
    }
    

    
  </script>
{% endblock content %}


