{% extends "layout.html" %}
{% block content %}
<!-- Welcome   -->
<section id="welcome" class="welcome-section">
    <div class="container">
        <div class="col-lg-12">
            <h1>Notifying you when your, food is about to expire!</h1>
            <p>“The average family of four wastes 25% or $1,400 a year on food” - Natural Resources Defense Council</p>
            <p>&nbsp;</p>
            <a href="/register">Click To Sign Up!</a>
        </div>
    </div>
</section>
{% endblock content %}