{% extends "layout.html" %}
{% block content %}
    <div class="main">
    <p class="sign" align="center">Log-In</p>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
              {{ form.phonenumber(class="un ", placeholder="Phone Number") }}
              {{ form.password(class="pass", placeholder="Password")}}
          <div class="form-group">
             {{ form.submit(class="submit") }}
          </div>
         </form>
     </div>   
{% endblock content %}